{{#each this}}
<div class="concert-list">
    <img src="{{images}}" alt="{{name}}" class="image" />
    <ul class="info-list">
        <li>{{name}}</li>
        <li>{{startDateTime}}</li>
        <li>{{promoters}}</li>
    </ul>
</div>
{{/each}}